<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--<![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <!--[if (gte mso 9)|(IE)]>
  <style type="text/css">
    table {border-collapse: collapse !important;}
  </style>
  <![endif]-->
</head>
<body>
  <header>
    <div class="logo">
      <img src="https://s3-us-west-1.amazonaws.com/matchmaker420/default/mm420-logo-white-solid.jpg" />
      <!--<img src="http://drive.google.com/uc?export=view&id=0B-NSvIG_-LnRN3c5ZkRhZTBsME0" />-->
      <!--<img src="cid:MM420@LOGO" />-->
      <span>Matchmaker 420</span>
    </div>
  </header>
  <div class="body">
    <p>Hello <%= name %>,
      <br /><br />
      Welcome to Matchmaker420, California's wholesale marketplace for cannabis.
      <br /><br />
      Click the LOGIN button below to begin loading products or to browse available products.</p>
    <p><a class="login" href="<%= activationURL %>">LOGIN</a></p>
  </div>
</body>
</html>
