<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--<![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <!--[if (gte mso 9)|(IE)]>
  <style type="text/css">
    table {border-collapse: collapse !important;}
  </style>
  <![endif]-->
</head>
<body>
<header>
  <div class="logo">
    <!--<img src="https://s3-us-west-1.amazonaws.com/matchmaker420/default/mm420-logo-white-solid.jpg" />-->
    <!--<img src="http://drive.google.com/uc?export=view&id=0B-NSvIG_-LnRN3c5ZkRhZTBsME0" />-->
    <img src="logo@matchmaker420.com" />
    <span>Matchmaker 420</span>
  </div>
</header>
<div class="body">
  <p>You requested a password reset link? Here it is!</p>
  <p><a class="reset" href="<%= resetURL %>">RESET PASSWORD</a></p>
  <p><a href="<%= resetURL %>"><%= resetURL %></a></p>

  <p>
    Matchmaker420 works best on
    <a href="https://www.google.com/chrome/browser/">Chrome</a>,
    <a href="https://support.apple.com/downloads/#safari">Safari</a> and
    <a href="https://www.mozilla.org/firefox">Firefox</a>.
  </p>

  <p>If clicking the "Reset Password" link above doesn't work, try copy/pasting it into the address bar of a compatible browser.</p>
</div>
</body>
</html>
